<body>
  <div class="inputs">
    <h1>Try the transitions !!!</h1>
    <input #refInput type="text" [style.background]="color" (mouseenter)='changeColor("red")' (focus)='changeColor("pink")'
    (blur)='changeColor("grey")' (input)='changeColor("green")' (copy)='changeColor("yellow")'>
  </div>

  <div class="events">
    <button (click)="rotateThis(refInput)" class="pushable">
      <span class="front">Rotate</span>
    </button>
    <button (click)="increaseThis(refInput)" class="pushable">
      <span class="front">Increase</span>
    </button>
    <button (click)="decreaseThis(refInput)" class="pushable">
      <span class="front">Decrease</span>
    </button>
    <button (click)="translateThis(refInput)" class="pushable">
      <span class="front">Tranlate</span>
    </button>
  </div>
</body>