/*body{
  margin-top: 160px;
}

.calculator{
  background-color: rgb(255, 249, 245);
  position: relative;
  margin: 3% auto auto auto;
  width: 400px;
  height: 530px;
  text-align: center;
  border-color: rgb(255, 220, 167);
  border-radius: 20px;
  box-shadow: inset 2px 0px 10px -5px rgb(243, 121, 8),
              inset -5px 0px 15px -5px rgb(218, 140, 67),
              inset 10px 0px 10px -12px #353947,
              inset -2px 0px 4px 2px #353947,
              inset -2px 0px 10px 0px #353947;
}

.result{
  border-radius: 8px;
}

button{
  background-color: rgb(255, 249, 245);
  border-radius: 8px;
  width: 80px;
  height: 65px;
  font-size: 20px;
  border: 2px solid;
  border-color: rgb(223, 177, 140);
  margin: 2px 2px 8px 2px;
  transition-duration: 0.2s;
  box-shadow: inset 5px 0px 15px -5px rgb(243, 121, 8),
              inset -3px 0px 15px -5px rgb(218, 140, 67),
              inset 0px -5px 0px -3px #353947,
              inset 0 0 2px 2px #353947,
              inset 0 5px 15px 0 #353947;
}

.long{
  width: 165px;
}

.responsive:hover{
  background-color: rgb(228, 124, 44);
  color: rgb(247, 240, 240);
  box-shadow: inset 5px 0px 15px -5px rgb(243, 121, 8),
              inset -3px 0px 15px -5px rgb(218, 140, 67),
              inset 0px -5px 0px -3px #353947,
              inset 0 0 2px 2px #353947,
              inset 0 5px 15px 0 #353947;
}

input{
  width: 320px;
  height: 50px;
  text-align: right;
  font-size: 1.7em;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 2px solid;
  border-color: rgb(196, 88, 5);
}*/

body{
  margin-top: 160px;
}

.calculator{
  background-color: #003147;
  position: relative;
  margin: 3% auto auto auto;
  width: 400px;
  height: 530px;
  text-align: center;
  border-color: rgb(255, 220, 167);
  border-radius: 20px;
  box-shadow: inset 2px 0px 10px -5px rgb(243, 121, 8),
              inset -5px 0px 15px -5px rgb(218, 140, 67),
              inset 10px 0px 10px -12px #353947,
              inset -2px 0px 4px 2px #353947,
              inset -2px 0px 10px 0px #353947;
}

.result{
  border-radius: 8px;
}

button{
  background-color: rgb(255, 249, 245);
  border-radius: 8px;
  width: 80px;
  height: 65px;
  font-size: 20px;
  border: 2px solid;
  border-color: rgb(223, 177, 140);
  margin: 2px 2px 8px 2px;
  transition-duration: 0.2s;
  box-shadow: inset 5px 0px 15px -5px rgb(243, 121, 8),
              inset -3px 0px 15px -5px rgb(218, 140, 67),
              inset 0px -5px 0px -3px #353947,
              inset 0 0 2px 2px #353947,
              inset 0 5px 15px 0 #353947;
}

.long{
  width: 165px;
}

.responsive:hover{
  background-color: rgb(228, 124, 44);
  color: rgb(247, 240, 240);
  box-shadow: inset 5px 0px 15px -5px rgb(243, 121, 8),
              inset -3px 0px 15px -5px rgb(218, 140, 67),
              inset 0px -5px 0px -3px #353947,
              inset 0 0 2px 2px #353947,
              inset 0 5px 15px 0 #353947;
}

input{
  background-color: rgb(255, 249, 245);
  width: 330px;
  height: 50px;
  text-align: right;
  font-size: 1.7em;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 8px;
  border-color: rgb(196, 88, 5);
}


/*body{
  margin-top: 160px;
}

.calculator{
  background-color: #353947;
  position: relative;
  margin: 3% auto auto auto;
  width: 400px;
  height: 530px;
  text-align: center;
  border-color: rgb(255, 220, 167);
  border-radius: 20px;
  box-shadow: inset 2px 0px 10px -5px rgb(243, 121, 8),
              inset -5px 0px 15px -5px rgb(218, 140, 67),
              inset 10px 0px 10px -12px rgb(26, 24, 23),
              inset -2px 0px 4px 2px rgb(58, 41, 25),
              inset -2px 0px 10px 0px rgb(0, 0, 0);
}

.result{
  border-radius: 8px;
}

button{
  background-color: #ffffff;
  border-radius: 8px;
  width: 80px;
  height: 65px;
  font-size: 24px;
  border: 2px solid;
  border-color: rgb(223, 177, 140);
  margin: 2px 2px 8px 2px;
  transition-duration: 0.2s;
  box-shadow: inset 5px 0px 15px -5px rgb(243, 121, 8),
              inset -3px 0px 15px -5px rgb(218, 140, 67),
              inset 0px -5px 0px -3px rgb(26, 24, 23),
              inset 0 0 2px 2px rgb(58, 41, 25),
              inset 0 5px 15px 0 rgb(0, 0, 0);
}

.long{
  width: 165px;
}

.responsive:hover{
  background-color: rgb(228, 124, 44);
  color: #353947;
  box-shadow: inset 5px 0px 15px -5px rgb(243, 121, 8),
              inset -3px 0px 15px -5px rgb(218, 140, 67),
              inset 0px -5px 0px -3px rgb(26, 24, 23),
              inset 0 0 2px 2px rgb(58, 41, 25),
              inset 0 5px 15px 0 rgb(0, 0, 0);
}

input{
  width: 320px;
  height: 50px;
  text-align: right;
  font-size: 1.7em;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 2px solid;
  border-color: rgb(196, 88, 5);
}
*/
