<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo">MY<strong>PORTFOLIO</strong></div>
	<ul class="links">
		<li><a [routerLink]="['/Home']" routerLinkActive="active">Home</a></li>
		<li><a [routerLink]="['/Calculadora']" routerLinkActive="active">Calculator</a></li>
		<li><a [routerLink]="['/EvAndRef']" routerLinkActive="active">Events</a></li>
    <li><a [routerLink]="['/listaDeCompras']" routerLinkActive="active">Market</a></li>
		<li><a [routerLink]="['/chuck']" routerLinkActive="active">Jokes</a></li>
    <li><a [routerLink]="['/p-color']" routerLinkActive="active">Color</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
